<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liugui.springbootmybatis.mapper.UserMapper">
    <resultMap id="BaseMap" type="com.liugui.springbootmybatis.model.UserDo">
        <id property="userId" jdbcType="INTEGER" column="user_id"/>
        <result property="userName" jdbcType="VARCHAR" column="user_name"/>
        <result property="userAge" jdbcType="INTEGER" column="user_age"/>
        <result property="userSex" jdbcType="INTEGER" column="user_sex"/>
    </resultMap>
    <sql id="Base_Sql">
    user_id ,user_name , user_age, user_sex
    </sql>
    <select id="selectOne" resultMap="BaseMap">
    select * from sys_user where user_id = #{userId,jdbcType=INTEGER}
  </select>
    <select id="selectListByMap" parameterType="java.util.Map" resultMap="BaseMap">
        select <include refid="Base_Sql"/> from sys_user
        <trim prefixOverrides="and | or" prefix="where">
            <if test="userName != null and userName != ''">
                and user_name = #{userName,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>
</mapper>