<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        h3,h4{
            text-align:center;
        }
    </style>
    <script type="text/javascript" language="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
    <h3>WebSocket测试，在<span style="color:red">控制台</span>查看测试信息输出！</h3>
    <h4>http://wallimn.iteye.com</h4>
    <h4>
        [url=/api/webSocket/sendOne?message=单发消息内容&id=none]单发消息链接[/url]
        [url=/api/webSocket/sendAll?message=群发消息内容]群发消息链接[/url]
    </h4>
</body>
</html>